<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.oldCare.mapper.NursingWorkersMapper">

    <resultMap id="BaseResultMap" type="com.project.oldCare.entity.NursingWorkers">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="nurseNo" column="nurse_no" jdbcType="VARCHAR"/>
            <result property="fullName" column="full_name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nurse_no,full_name,
        gender,user_id,create_time,
        update_time
    </sql>
</mapper>
