<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.oldCare.mapper.SlidesMapper">

    <resultMap id="BaseResultMap" type="com.project.oldCare.entity.Slides">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="tourl" column="tourl" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        url,img
    </sql>
</mapper>
